div{
    border-style:solid;
    height: 100px;
}
.div1{
    background-color: blueviolet;
    position:relative;
    top: 5px;
    left: 15px;
}
.div2{
    background-color:blue;
    width: 100px;
    position: absolute;
    bottom: 0px;
}
.div3{
    background-color: aquamarine;
    position: fixed;
}