.container1{
    position:relative;
    height: 400px;
    width: 200px;
    margin: 40px;
    background-color: cyan;
}
.container2{
    border:solid;
    height: 100px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.box1{
    position:absolute;
    background-color: black;
    height: 40px;
    width: 40px;
    left: -10px;
    top: -10px;
}
.box2{
    position:absolute;
    background-color:greenyellow;
    height: 40px;
    width: 40px;
    bottom: 0px;
    right: 0px;
}
.box3{
    background-color: yellowgreen;
    border:solid;
    height: 75px;
    width: 200px;
}